
/*ajustando cursor da pagina*/
html{
    cursor: url(../img/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Tamanhos para mosquiros aleatorios*/
/*Tamanho 1*/
.mosquito1{
    width: 50px;
    height: 50px;
}
/*Tamanho 2*/
.mosquito2{
    width: 70px;
    height: 70px;
}
/*Tamanho 3*/
.mosquito3{
    width: 90px;
    height: 90px;
}

/*Girando o lado do mosquito para esquerda*/
.ladoA{
    transform: scaleX(1);
}

/*Girando o lado do mosquito para direita*/
.ladoB{
    transform: scaleX(-1);
}

/*Painel de vida
-----------------------------------------*/

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px white;
    background-color: white;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}


